body {
    background-color: #F5F5F5;
}

input {
    background-color: #F5F5F5;
}

.form_header {
    max-width: 100%;
    background-color: #333333;
    color: white;
}

.btn_cancell, .btn_save, .btn_csv {
    color: white;
}

.btn_cancell {
    background-color: #FF5757;
}

.btn_save {
    background-color: #38B6FF;
}

.btn_csv {
    background-color: #333333;
}
#div_csv_descarregar {
    background-color: #8C52FF;
}

.btn_afegir_linea {
    background-color: #38B6FF;
}