body {
    background-color: #F5F5F5;
}

input {
    background-color: #F5F5F5;
}

.form_header {
    max-width: 100%;
    background-color: #333333;
    color: white;
}

.btn_cancell, .btn_save, .btn_csv {
    color: white;
}

.btn_cancell {
    background-color: #FF5757;
}

.btn_save {
    background-color: #38B6FF;
}

.btn_csv {
    background-color: #333333;
}
#div_csv_descarregar {
    background-color: #8C52FF;
}

.btn_afegir_linea {
    background-color: #38B6FF;
}
.alerta_esborrar{
    width: 400px;
}
#contrasenya_alumne{
    width: calc(100% - 50px - 68px);
    border-radius: 5px 0px 0px 5px;
}
#pass_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.2px;
    border: 0.5px solid #DEE2E6;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    color: #38B6FF;
}
#random_pass_button{
    width: 50px;
    background-color: #8C52FF;
    color: #F5F5F5;
}
#random_pass_button:hover{
    background-color: #F5F5F5; 
    color: #333333;
    margin: 0;
}
.form-check-input{
    border: 1px solid #333333;
}
.random_pass_button{
    width: 50px;
    background-color: #8C52FF;
    color: #F5F5F5;
}
.random_pass_button:hover{
    background-color: #F5F5F5; 
    color: #333333;
    margin: 0;
}
#data-list-vista_inventari > thead > tr > th {
    background-color: #333333;
    color: #F5F5F5;
}
#data-list-vista_inventari {
    border-right: 2px solid #900000;
    border-bottom: 2px solid #900000;
    border-left: 2px solid #900000;
}
#data-list-vista_inventari i {
    color: red !important;
}

.main .navbar-nav .nav-link{
    color:#F5F5F5;
}
.main .navbar-nav .nav-link.actiu {
    background-color: #F5F5F5; 
    color: #333333 ; 
    border-radius: 5px; 
    padding: 10px 15px; 
}

.main .navbar-nav .nav-link:hover {
    background-color: #F5F5F5; 
    color: #333333; 
}

.main .navbar-nav .nav-item {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:10px; 
    margin-right: 10px;
}
