:root{
    --mesura_sidebar:300px;
}

#sidebar_desplegable{
    background-color: #900000;
    width: var(--mesura_sidebar);
}
#titol{
    text-align: center;
}
#buscador{
    margin-top: 20px;
}
#input_buscador{
    /*width: ;*/
    border: 1px solid black;
    font-style: italic;
}