:root{
    --mesura_sidebar:300px;
}

#sidebar_desplegable{
    background-color: #D4CECE;
    color: #333333;
    width: var(--mesura_sidebar);
    padding: 10px;
}
#titol{
    text-align: center;
    margin-top: -30px;
    padding-top: 0;
}
#buscador{
    margin-top: 20px;
}

.linia{
    background-color: #333333;
    height: 5px;
}
