@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif !important;
}


#data-list-tiquet>thead>tr>th {
    background-color: #333333;
    color: white;
}

#data-list-tiquet {
    border-right: 3px solid #900000;
    border-left: 3px solid #900000;
    border-bottom: 3px solid #900000;
}
#data-list-tiquet>thead>tr>th {
    border-right:0 !important;
}
#data-list-vista_inventari>thead>tr>th {
    background-color: #333333;
    color: white;
}

#data-list-vista_inventari {
    border-right: 3px solid #900000;
    border-left: 3px solid #900000;
    border-bottom: 3px solid #900000;
}

#data-list-vista_alumne>thead>tr>th {
    background-color: #333333;
    color: white;
}

#data-list-vista_alumne {
    border-right: 3px solid #900000;
    border-left: 3px solid #900000;
    border-bottom: 3px solid #900000;
}


.col-sm-12 {
    display: flex;
    justify-content: end;
}

.dataTables_info {
    display: none;
}

#title {
    border-bottom: 1px solid #333333;
}