#data-list-vista_tiquet > thead > tr > th {
    background-color: #333333;
    color: #F5F5F5;
}
#data-list-vista_intervencio > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-tipus_inventari > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-tipus_intervencio > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-curs > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-tipus_dispositiu > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-comarca > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-poblacio > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-llista_admesos > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}
#data-list-vista_centres > thead > tr > th {
    background-color: #333333 !important;
    color: #F5F5F5 !important;
}

#data-list-vista_tiquet, #data-list-vista_intervencio, #data-list-tipus_inventari, #data-list-tipus_intervencio, #data-list-curs, #data-list-tipus_dispositiu, #data-list-comarca, #data-list-poblacio, #data-list-llista_admesos, #data-list-vista_centres {
    border-right: 2px solid #900000;
    border-bottom: 2px solid #900000;
    border-left: 2px solid #900000;
}

#actiu {
    border-right: 7px solid #900000;
}

#sidebar {
    background-color: #D4CECE;
    border-right: 2px solid #900000;
    padding-right: 0;
}
#sidebar > ul > li > a > i{
    color:  #333333;
    font-size: 30px;
}
#btn-create{
    background-color: #00BF63;
    color: #FFFFFF;
    border-radius: 20px;
}
#btn-filter{
    background-color: #8C52FF;
    color:  #FFFFFF; 
    border-radius: 20px;
}
.fa-trash{
    color:#FF5757;
}
.fa-eye{
    color:#38B6FF;
}
#btn-export{
    background-color: #31d2f2;
    color:  #FFFFFF; 
    border-radius: 20px;
}
#list-btn-exportxls{
    display: none;
}


#tornar_button_vista_tiquet {
    width: 100px;
}

#data-list-vista_tiquet_filter{
    width: 350px;
    height: 40px;
}

#data-list-vista_inventari_filter{
    width: 350px;
    height: 40px;
}

#data-list-vista_alumne_filter{
    width: 350px;
    height: 40px;
}
#data-list-vista_centres_filter{
    width: 350px;
    height: 40px;
}

#icono_busqueda{
    background-color: #D4CECE;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    border: 1px solid #333333;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
}

#input_buscador{
    border: 1px solid #333333;
    
    border-radius: 0px 10px 10px 0px;
}
#input_buscador::placeholder{
    opacity: 0.5;
    font-style: italic;
}
.input_buscador_class:focus, .btn_etiqueta:focus{
    outline: none;
    box-shadow: none;
}
#trash_icon{
    color: #FFFFFF !important;
}
.botons_filtre{
    margin-top: 20px;
    padding-top: 10px;
}
.etiqueta{
    border: 1px solid #333333;
}
.btn_etiqueta{
    margin-left: 5px;
    width: 3px;
}

#vista_descripcio_intervencio {
    width: 100%;
    background-color: #f2f2f2;
}

#submit_eliminar_tots_filtres{
    height: 30px;
}
.alerta_esborrar{
    width: 400px;
    margin-top: 30px;
}
.div_filtres{
    margin-left: 10px;
}
#contenidor_de_les_opcions{
    padding-left: 20px;
    padding-right: 20px;
}
#menu_tipus > .actiu {
    font-size: 4em;
    color: #900000 !important;
}